<h1 class="text-center pt-5 text-black">Update Recipe:</h1>
<form  (ngSubmit)="onSubmit()"  class="w-[27rem] p-6 rounded-lg shadow-md">

    <div class="mb-4">
        <mat-form-field class="w-full">
            <mat-label>Shoe Name:</mat-label>
            <input matInput 
            placeholder="Enter shoe name" 
            name="title"
            value="recipeItem.title"
            [(ngModel)]="recipeItem.title"
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            >
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Description:</mat-label>
            <textarea matInput 
            placeholder="Enter description" 
            name="description"
            value="recipeItem.description"
            [(ngModel)]="recipeItem.description"
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Image:</mat-label>
            <input matInput 
            placeholder="Enter Image Url" 
            name="image"
            value="recipeItem.image"
            [(ngModel)]="recipeItem.image"
            class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline"
            >
          </mat-form-field>

          <mat-radio-group [(ngModel)]="recipeItem.foodType" name="foodType" value="recipeItem.foodType"   aria-label="Select an option" color="primary">
            <mat-radio-button value="veg">Casual</mat-radio-button>
            <mat-radio-button value="non_veg">Sporty</mat-radio-button>
          </mat-radio-group>

          
  
          
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit" class="text-black">
        Create
      </button>
    </div>

</form>
