<mat-card class="example-card">
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>


    <mat-card-header>
      <img mat-card-avatar src="assets/Seller.png" alt="">
      <mat-card-title class="text-blue-700">markjarnaiz</mat-card-title>
      <mat-card-subtitle>Seller #1</mat-card-subtitle>
    </mat-card-header>

    <img class="max-h-[400px] object-cover" src="https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="text-black">
        <br>
         agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>


    <mat-card-actions class="flex justify-between">
      <div class="flex">
          <div class="bg-black border-black rounded-full mr-2">
              <button mat-icon-button aria-label="Favorite">
                  <mat-icon>favorite</mat-icon>
              </button>
          </div>
          <div class="bg-black border-black rounded-full mr-2">
              <button (click)="handleOpenEditRecipeForm()" mat-icon-button aria-label="Edit">
                  <mat-icon>edit</mat-icon>
              </button>
          </div>
          <div class="bg-black border-black rounded-full mr-2">
              <button mat-icon-button aria-label="Share">
                  <mat-icon>share</mat-icon>
              </button>
          </div>
      </div>
      <div class="bg-black border-black rounded-full">
          <button mat-icon-button aria-label="Delete">
              <mat-icon>delete</mat-icon>
          </button>
      </div>
  </mat-card-actions>
  



    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
    
  </mat-card>
