<p>
  <mat-toolbar class="flex items-center justify-between">
      <div class="flex items-center">
          <img src="assets/logo.png" alt="Logo" class="h-8 mr-4"> <!-- Adjust the path and size of the logo -->
          <span class="bg-gradient-to-r from-pink-500 to-violet-500 text-transparent bg-clip-text font-semibold">Babonatics</span>
          <span class="example-spacer"></span>
      </div>
      <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
          </button>
      </div>
  </mat-toolbar>
</p>
